.b-nav {
  position: relative;
  padding: 0 30px;
  background: #f7f8fa;
}

.b-nav_list {
  margin: 0;
  padding: 0;
}

.b-nav_item {
  position: relative;
  display: inline-block;
  height: 45px;
  padding: 0 15px;
}

.b-nav_item:hover {
  background: #edf0f5;
}

.b-nav_item__active {
  font-weight: bold;
  background: #e0e5ed;
}

.b-nav_item__active:hover {
  background: #e0e5ed;
}

.b-nav_link {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  color: inherit;
}

.b-nav_link:hover {
  text-decoration: none;
}@keyframes rotating {
  0% {
    -ms-transform: rotate(0turn);
    transform: rotate(0turn);
    -webkit-transform: rotate(0turn);
  }

  100% {
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}

@-webkit-keyframes rotating {
  0% {
    transform: rotate(0turn);
    -webkit-transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}

.b-loader_curtain {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9997;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}

.b-loader_block {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9998;
  margin-top: -40px;
  margin-left: -42px;
  display: block;
  width: 83px;
  height: 130px;
  color: #464646;
  text-align: center;
}

.b-loader_block__element,
.b-loader_curtain__element {
  position: absolute;
}

.b-loader {
  z-index: 9999;
  display: block;
  width: 83px;
  height: 80px;
  margin-bottom: 30px;
  background: url('../i/loader/loader.png') center top no-repeat;
  animation: rotating 3s linear infinite;
  -webkit-animation: rotating 3s linear infinite;
}