.b-nav {
	position: relative;

	padding: 0 30px;

	background: #f7f8fa;
}

.b-nav_list {
	margin: 0;
	padding: 0;
}

.b-nav_item {
	position: relative;

	display: inline-block;
	height: 45px;
	padding: 0 15px;
}

.b-nav_item:hover {
	background: #edf0f5;
}

.b-nav_item__active {
	font-weight: bold;

	background: #e0e5ed;
}

.b-nav_item__active:hover {
	background: #e0e5ed;
}

.b-nav_link {
	display: inline-block;
	height: 100%;
	width: 100%;

	padding: 0;

	color: inherit;
}

.b-nav_link:hover {
	text-decoration: none;
}

